.home__page {
    height: 100vh !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 350px rgba(0, 0, 0, 0.685);
    overflow: hidden;
}

.home__itens {
    color: #fff;
    height: 40%;
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 200px;
    text-align: center;
}

.home__itens h1 {
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;

    position: relative;
    top: 30%;

}

.home__itens p {
    font-size: 20px;


    position: relative;
    top: 40%;
}

.btns {
    margin-top: 220px;
    text-decoration: none;
    color: #fff;
}

.btns a {
    margin-top: 80px;
    text-decoration: none;
}

.bnt_1 {
    margin-right: 120px;
    background-color: rgb(219, 13, 13);
    padding: 17px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.bnt_1:hover {
    color: rgb(219, 13, 13);
    background-color: #fff;
}

.bnt_2 {
    color: rgb(255, 255, 255);
    padding: 17px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.bnt_2:hover {
    color: rgb(219, 13, 13);
    background-color: #fff;
}

span {
    color: rgb(219, 13, 13);
}

/*
======= Media Query
*/


@media screen and (max-width:375px) {

    .home__page {
        height: 110vh !important;
        overflow: hidden;
    }


    .home__itens h1 {
        font-size: 1.8rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -100px !important;
    }

    .home__itens p {
        font-size: 1rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -80px !important;
        width: 60%;
        left: 20%;
    }

    .btns {
        position: relative;
        margin-left: 10px !important;
        top: -220px !important;
    }

    .bnt_1,
    .bnt_2 {

        margin-right: 25px;


    }
}

@media screen and (max-width:390px) {

    .home__page {
        height: 110vh !important;
    }


    .home__itens h1 {
        font-size: 1.8rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -100px !important;
    }

    .home__itens p {
        font-size: 1rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -80px !important;
        width: 60%;
        left: 20%;
    }

    .btns {
        position: relative;
        margin-left: 10px !important;
        top: -220px !important;
    }

    .bnt_1,
    .bnt_2 {

        margin-right: 25px;


    }
}

@media screen and (max-width: 360px) {

    .home__page {
        height: 140vh !important;
        overflow: hidden;
    }


    .home__itens h1 {
        font-size: 1.6rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -100px !important;
    }

    .home__itens p {
        font-size: 1rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -90px !important;
        width: 60%;
        left: 20%;
    }

    .btns {
        position: relative;
        margin-left: 10px !important;
        top: -270px !important;
    }

    .bnt_1,
    .bnt_2 {

        margin-right: 25px;


    }
}

@media screen and (max-width: 1024px) {
    .home__page {
        overflow: hidden;
    }

    .home__itens h1 {
        font-size: 2rem;
        position: relative;
        margin-left: -250px;
        top: -10px;
    }

    .home__itens p {
        font-size: .9rem;
        position: relative;
        margin-left: -250px;
        top: 28px;
    }

    .btns {
        position: relative;
        margin-left: -250px;
        top: -140px;
    }

    .bnt_1,
    .bnt_2 {

        padding: 10px;

    }
}

@media screen and (max-width: 393px) {
    .home__page {
        height: 120vh !important;
        overflow: hidden;
    }

    .home__itens h1 {
        font-size: 1.8rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -100px !important;
    }

    .home__itens p {
        font-size: 1rem !important;
        position: relative;
        margin-left: -8px !important;
        top: -80px !important;
        width: 60%;
        left: 20%;
    }

    .btns {
        position: relative;
        margin-left: 10px !important;
        top: -220px !important;
    }

    .bnt_1,
    .bnt_2 {

        margin-right: 25px;


    }
}